page-login {
  .splash-logo {
    margin: auto;
    background: url('../../assets/imgs/logo-fixit.png') repeat transparent;
    background-size: cover;
    width: 128px;
    height: 128px;
  }

  .splash-bg {
     position: relative;
     background: url('../../assets/imgs/home.png') no-repeat transparent;
     background-size: cover;
     height: 100%;
     z-index: -1;
     background-repeat: repeat-x;
     animation: animatedBackground 40s linear infinite;
   }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
}
