page-perfil {
  .imgR {
    width: 175px;
    height:175px;
    border-radius:88px;
    display:block;
    margin:0 auto;
  }
  .arriba {
    margin-left: 15%;
  }
  .texto {
    margin-left: 10%;
  }
}
