<!--
  Generated template for the AvisosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>avisos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->

<ion-content>
  <!-- Segment buttons with text -->
  <ion-segment [(ngModel)]="relationship" color="primary">
    <ion-segment-button (click)="selectedCreados()">
      <ion-icon name='build'></ion-icon>
      Creados
    </ion-segment-button>
    <ion-segment-button (click)="selectedApoyados()">
      <ion-icon name='hand'></ion-icon>
      Apoyados
    </ion-segment-button>
    <ion-segment-button (click)="selectedToApoyar()">
      <ion-icon name='person-add'></ion-icon>
      Apoyar
    </ion-segment-button>
  </ion-segment>

  <!-- AVISOS CREADOS -->

  <ion-content *ngIf="aviso_type=='cre'">
    <ion-list>
      <ion-item-sliding *ngFor="let a of avisos_creados"> <!--(click)="goToDetail(a._id)"-->
          <ion-item>
            <img src="http://147.83.7.158/avisos/{{a.imagen}}"/>

            <h2 align="center">{{a.datosUbicacion.ciudad}}</h2>
            <h3 align="center">{{a.datosUbicacion.codPostal}}</h3>

            <p><b>Descripcion:</b> {{a.descripcion}}</p>
            <p><b>Seguimiento:</b> {{a.seguimiento}}</p>
            <p><b>Apoyos:</b> {{a.apoyos}}</p>
          </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteAvis(a._id)" >
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="goToDetail(a._id)">
          <ion-icon name="search"></ion-icon>
          Detalles
        </button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>

  <!-- AVISOS APOYADOS -->

  <ion-content *ngIf="aviso_type=='apo'">
    <ion-list>
      <ion-item-sliding *ngFor="let a of avisos_apoyados">
        <ion-item>
          <img src="http://147.83.7.158/avisos/{{a.imagen}}"/>

          <h2 align="center">{{a.datosUbicacion.ciudad}}</h2>
          <h3 align="center">{{a.datosUbicacion.codPostal}}</h3>

          <p><b>Descripcion:</b> {{a.descripcion}}</p>
          <p><b>Seguimiento:</b> {{a.seguimiento}}</p>
          <p><b>Apoyos:</b> {{a.apoyos}}</p>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteAvis(a._id)" >
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="primary" (click)="goToDetail(a._id)">
            <ion-icon name="search"></ion-icon>
            Detalles
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>



  <!-- AVISOS PARA APOYAR -->

  <ion-content *ngIf="aviso_type=='xx'">
    <ion-list>
      <ion-item-sliding *ngFor="let a of avisos_apoyar">
        <ion-item>
          <img src="http://147.83.7.158/avisos/{{a.imagen}}"/>

          <h2 align="center">{{a.datosUbicacion.ciudad}}</h2>
          <h3 align="center">{{a.datosUbicacion.codPostal}}</h3>

          <p><b>Descripcion:</b> {{a.descripcion}}</p>
          <p><b>Seguimiento:</b> {{a.seguimiento}}</p>
          <p><b>Apoyos:</b> {{a.apoyos}}</p>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button color="primary" (click)="goToDetail(a._id)">
            <ion-icon name="search"></ion-icon>
            Detalles
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>

</ion-content>
